@model TravelTripProject.Models.Classes.BlogYorum
<div class="padding1">
    <h4>Son Yorumlarımız</h4>

    @{ int i = 0; }

    @foreach (var item in Model.Deger4)
    {
        if (i % 2 == 0)
        {
            <div class="box-left">
                <div class="bot-img">
                    <img src="@item.Blog.BlogImage" alt="" />
                </div>
                <div class="bot-desc">
                    <a href="/Blog/BlogDetay/@item.Blogid">@item.KullaniciAdi : @item.Yorum.Substring(0, 10)...</a>
                </div>
                <div class="clear"></div>
            </div>
        }
        if (i % 2 == 1)
        {
            <div class="box1-left">
                <div class="bot-img">
                    <img src="@item.Blog.BlogImage" alt="" />
                </div>
                <div class="bot-desc1">
                    <a href="/Blog/BlogDetay/@item.Blogid">@item.KullaniciAdi : @item.Yorum.Substring(0, 10)...</a>
                </div>
                <div class="clear"></div>
            </div>
        }
        i++;
    }
</div>
